[mysqld]
server-id         = 223344
log_bin           = mysql-bin
binlog_format     = ROW
binlog_row_image  = FULL
expire_logs_days  = 10
max_binlog_size   = 100M
binlog_do_db      = es_demo
# Recommended for Debezium
binlog_checksum   = NONE
# Required for GTID (optional)
# gtid_mode         = ON
# enforce_gtid_consistency = ON
# Required for Debezium snapshot
binlog_rows_query_log_events = ON